main {
  display: flex;
  height: 100%;
  gap: 2rem;
  padding: 0 2rem;
  flex-flow: column;
  justify-content: flex-end;
  & img {
    margin: auto;
    max-width: 100%;
    object-fit: contain;
  }
}

form {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  & fieldset {
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;

    & button {
      font-size: inherit;
      flex: 1 calc(50% - 1rem);
      padding: 1rem 2rem;
      cursor: pointer;
      border-style: none;
      border-radius: 2px;
    }
  }
}
