main {
  display: flex;
  height: 100%;
  gap: 2rem;
  padding: 0 1rem;
  flex-flow: column;
  place-content: center;
}

main {
  & img {
    max-width: 100%;
    object-fit: scale-down;
  }
}

form {
  & fieldset {
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    place-content: stretch;

    & button {
      flex: 1;
      padding: 1rem 2rem;
      cursor: pointer;
      border-style: none;
      border-radius: 2px;
    }
  }
}
